/* Add new form styles */
.add_form__container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: grid;
  place-items: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
}

.add_form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  align-items: center;
  gap: 1rem;

  width: 500px;
  height: max-content;

  padding: 2rem 4rem;

  background-color: var(--primary-bg);

  border-radius: 30px;
}

.form_group__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_cancel {
  font-weight: 300;
  text-transform: capitalize;

  width: 100%;
  padding: 0.5rem 0;

  background-color: transparent;
  color: var(--primary-accent-text-color);
}

@media screen and (max-width: 500px) {
  .add_form {
    width: 100%;
    height: max-content;

    row-gap: 2rem;

    border-radius: 0;
  }

  .form_cancel {
    margin: 1rem 0;
  }
}
