/* global naviagtion styles */
.menu_btn {
  font-size: 2rem;

  color: var(--secondary-text-color);
  background-color: transparent;

  border: 1px solid transparent;

  outline: none;

  display: none;
  visibility: hidden;
  overflow: hidden;
}

.side_nav__bottom,
.top_nav__links {
  transition: var(--ease-transition);
}

.nav_link {
  display: block;

  width: 100%;
  height: 100%;
  min-width: 100px;

  padding: 0.5rem 1rem;

  color: var(--secondary-text-color);

  text-decoration: none;
  text-transform: capitalize;

  transition: var(--ease-transition);
}

.nav_link:hover {
  color: var(--secondary-accent-text-color);
}

/* End of global values */

/* top navigation styles */
.top_nav {
  position: sticky;

  display: grid;
  grid-template-columns: 10% 1fr;
  place-items: center;

  width: 100%;
  height: var(--nav-height);

  margin: 0 auto;

  background-color: var(--primary-bg);
}

.top_nav__logo {
  display: grid;
  place-content: center;

  width: 100%;
  height: 100%;

  color: var(--secondary-text-color);

  text-decoration: none;
  text-transform: capitalize;
}

.top_nav__links {
  justify-self: flex-end;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: 0;
  padding: 0;

  width: fit-content;

  transition: var(--ease-transition)-in-out;
}

.top_nav__links > li {
  margin: 0 1rem;
}

/* End of the top navigation styles */
/*  side navigation styles */
.side_nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  height: 100vh;
  max-height: 100vh;

  background-color: var(--secondary-bg);

  overflow-y: auto;
}

.side_nav::-webkit-scrollbar {
  width: 5px;

  background-color: var(--secondary-bg);
}
.side_nav::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 30px;

  cursor: pointer;
}

.side_nav__top {
  display: grid;
  place-content: center;

  padding-bottom: 0.5rem;
}

.side_nav__links {
  margin: 0;
  padding: 0;
}
.side_nav__links > li {
  margin: 1rem 0;
}
.dropdown {
  padding-bottom: 1rem;
}

.dropdown_actions {
  display: grid;
  grid-auto-rows: 40px;
  gap: 15px;

  padding: 0;
  margin: 0;
}

.dropdown_title,
.dropdown_action,
.dropdown_links__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;

  width: 100%;
  height: 100%;

  padding: 0.5rem 1rem;

  color: var(--secondary-text-color);

  text-transform: capitalize;

  transition: var(--ease-transition);
}

.dropdown_action,
.dropdown_links__link {
  font-weight: 400;
  font-family: var(--secondary-font);
  font-style: italic;

  background-color: transparent;

  outline: none;
}

.dropdown_action > *,
.dropdown_links__link > * {
  pointer-events: none;
}

.dropdown_title {
  margin-bottom: 1rem;

  cursor: pointer;

  background-color: var(--primary-bg);
}

.dropdown_action__delete {
  color: var(--primary-accent-text-color);
}

.dropdown_links__link_active {
  color: var(--secondary-accent-text-color);
  background-color: var(--light-bg);
}

.dropdown_links__icon {
  animation: pulse 1s linear infinite;
}

.dropdown_hide {
  height: 0;
  overflow: hidden;
  pointer-events: none;
}

.dropdown_show {
  height: max-content;
  overflow: visible;
  pointer-events: auto;
}

.dropdown_action__add:hover {
  color: var(--primary-text-color);
  background-color: var(--secondary-accent-bg);
}

.dropdown_action__delete:hover {
  color: var(--primary-text-color);
  background-color: var(--primary-accent-bg);
}

.dropdown_action__rename:hover,
.dropdown_links__link:not(.dropdown_links__link_active):hover {
  color: var(--primary-text-color);
  background-color: var(--primary-bg);
}

/* end of side navigation styles */

/* Global Media queries */
@media screen and (max-width: 500px) {
  .show_menu {
    opacity: 1;
    visibility: visible;
  }

  .hide_menu {
    opacity: 0;
    visibility: hidden;
  }
}

/* top navigation media queries */
@media screen and (max-width: 500px) {
  .top_nav {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    align-items: center;

    padding: 0 2rem;
  }

  .top_nav__logo {
    grid-column: 1 / 2;
  }

  .menu_btn {
    grid-column: -2 / -1;

    display: block;
    visibility: visible;
  }

  .top_nav__links {
    position: absolute;
    top: 0;

    width: 100vw;
    height: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: var(--nav-height);
    align-items: center;
    justify-content: center;

    background-color: inherit;
  }

  .top_nav__links > li {
    grid-column: 1 / -1;
    margin: 1rem 0;
    padding: 0 1rem;
  }

  .top_nav__link {
    display: block;

    font-size: 1.5rem;

    width: 100%;
    height: 100%;

    text-align: center;

    padding: 1rem 0.5rem;
  }

  .menu_btn__close {
    grid-column: -3 / -1;
    justify-self: center;
  }
}

/* side navigation media queries */
@media screen and (max-width: 500px) {
  .side_nav {
    height: var(--nav-height);
    max-height: var(--nav-height);
  }

  .side_nav__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;
  }

  .side_nav__logo {
    width: 3rem;
    height: 100%;
  }

  .side_nav__bottom {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    width: 100vw;
    height: 100vh;

    padding: 2rem;

    background-color: inherit;
  }

  .menu_btn__close {
    grid-column: -2 / -1;
    grid-row: 1 / 2;
  }

  .side_nav__links {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .side_nav__actions {
    grid-column: 1 / -1;
    grid-row: 3 / -1;

    height: 100%;
    width: 100%;
  }
  .side_nav__links > li {
    margin: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
